body {
  background: black;
  color: white;
  clear: both;

}

div{
  border: 1px solid transparent;
}

header {
  font-size: 5em;
  text-align: center;
}

#right {
  float:right;
}

/* MY CHAMPS */
.myChampCards{
  width: 20%;
  background-color: grey;
  border-radius: 10px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  line-height: 9px;
  margin-right: 1%;
  margin-top: 1%;
}

.myChampCards:hover p {
  display: inline-block;
  color: white;
  line-height: normal;
}

.myChampCards:hover {
  height: auto;
  width: 49%;
}



/* ALL CHAMPS */
.champCards{
  width: 20%;
  background-color: grey;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 9px;
  margin-left: 1%;
  margin-top: 1%;
}

p {
  display: none;
}

.champCards:hover p {
  display: inline-block;
  color: white;
  line-height: normal;
}

.champCards:hover {
  height: auto;
  width: 49%;
}
